<!doctype html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
  </head>

<div class='container'>
  <div class="panel panel-default">
    <div class="panel-body">
      <img src="https://avatars2.githubusercontent.com/u/251000?v=3&s=460">
    </div>
  </div>

</div>

</html>
