<!doctype html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>

    <title>Steve Time</title>
  </head>
  <div class='container'>
  <h3 style='color: blue'><%= poll.title %></h3>
    <br>
    <% for(var i=0; i < poll.options.length; i++){ %>
      <tr>
        <% if(poll.options[i] != ""){ %>
          <td><button class="btn btn-default"> <%=poll.options[i]%> </button><br><br></td>
          <td id="<%=poll.options[i].toUpperCase()%>-votes"> <%= votes[poll.options[i].toUpperCase()]%> </td>
        <% } %>
      </tr>
    <% } %>

  <h3>Results</h3>
    <div id='results'></div>
</div>
</html>
