<div class='container'>

<h3 class="center">Submit Your Vote!</h3>
<!-- <h5 class="center"><div id="vote-message"></div></h5><br> -->
<div id="connection-count"></div>

<table class="centered">
  <thead>
    <tr>
      <th>Option</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody id="choices">
    <% for(var i=0; i < poll.options.length; i++){ %>
      <tr>
        <% if(poll.options[i] != ""){ %>
          <td><button class="btn btn-default"> <%=poll.options[i]%> </button><br><br></td>
          <td id="<%=poll.options[i].toUpperCase()%>-votes"> <%= votes[poll.options[i].toUpperCase()]%> </td>
        <% } %>
      </tr>
    <% } %>
  </tbody>
</table>

</div>
