h1 {
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 6.5rem;
  color: red;
}
a {
  text-align: center;
  font-family: 'Poiret One', cursive;
}

h5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: red;
}
h3 {
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 4.5rem;
  color: red;
}
#vote-count {
  text-align: center;
  font-family: 'Poiret One', cursive;
  font-size: 4.5rem;
}
.background-image {
  background-image: url(https://c2.staticflickr.com/8/7346/11246836254_443529401d_b.jpg)
}

p {
  font-family: 'Poiret One', cursive;
}
